<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.augmentingtechs.vitalsigns.healthwatcher">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_vslogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_vslogo_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <!--<activity
            android:name=".First"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity
            android:name="com.augmentingtechs.vitalsigns.Splash"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.augmentingtechs.vitalsigns.Primary"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.augmentingtechs.vitalsigns.AboutApp"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.augmentingtechs.vitalsigns.O2Result"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.augmentingtechs.vitalsigns.BloodPressureResult"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.augmentingtechs.vitalsigns.HeartRateResult"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.augmentingtechs.vitalsigns.RespirationResult"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.augmentingtechs.vitalsigns.HeartRateProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.augmentingtechs.vitalsigns.BloodPressureProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.augmentingtechs.vitalsigns.O2Process"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.augmentingtechs.vitalsigns.Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.augmentingtechs.vitalsigns.RespirationProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.augmentingtechs.vitalsigns.StartVitalSigns"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.augmentingtechs.vitalsigns.VitalSignsProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.augmentingtechs.vitalsigns.VitalSignsResults"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.augmentingtechs.vitalsigns.History"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8024886885221085~1853995112"/>
    </application>

</manifest>